html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

#container {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#output {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 720px;
}

#editor {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    width: 720px;
}

#toolbar {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    height: 30px;
    width: 720px;
    padding: 0;
    margin: 0;
    background: #ddd;
}

#toolbar select {
    display: block;
    position: absolute;
    width: 400px;
    left: 4px;
    top: 6px;
    margin: 0;
}

#toolbar input {
    display: block;
    position: absolute;
    width: 385px;
    left: 4px;
    top: 6px;
    margin: 0;
    height: 19px;
}

#toolbar span {
    display: block;
    position: absolute;
    text-align: right;
    line-height: 18px;
    padding: 0;
    margin: 0;
    top: 6px;
    right: 5px;
}

#themeToggle {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 6px;
    left: 410px;
    border: 1px #555 solid;
    border-radius: 3px;
    padding: 3px;
    margin: 0;
    height: 18px;
    line-height: 12px;
    font-size: 12px;
}

.dark {
    background-color: #888;
    color: #fff;
}
.light {
    background-color: #eee;
    color: #000;
}
